/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; /* Adjusted width for the form */
    margin: 0 auto;
}

#form-container h1 {
    text-align: center;
}

#form-container label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

#form-container input[type="text"],
#form-container input[type="number"] {
    width: 200px; /* Adjust the width to a specific value that fits your layout */
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Keeps padding and border included in the width */
}

#form-container button[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; /* Add margin top to create space between the form and the button */
}

#form-container button[type="submit"]:hover {
    background-color: #0056b3;
}

#form-container p.message {
    margin-top: 20px;
    padding: 8px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
}
